.Projects{
    background-color:  #f5f8ff;
    //background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.Projects-Body{
    margin: auto;
}

.Projects-Footer{
    margin-top: auto;
}